* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kodchasan", sans-serif;
  background-color: #EFEEF3;
  min-height: 100vh;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header {
  height: 40vh;
  background-image: url("./images/BACKGROUND.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 900px) {
  header {
    background-image: none;
  }
}

div.logo_e_navegacao {
  display: flex;
  justify-content: space-between;
  height: 20%;
  background-color: #EFEEF3;
}
@media (max-width: 900px) {
  div.logo_e_navegacao {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

img.logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 20%;
  padding: 10px;
}
@media (max-width: 900px) {
  img.logo {
    width: 180px;
    height: 85px;
    margin-top: 20px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

nav {
  width: 80%;
}
@media (max-width: 900px) {
  nav {
    width: 100%;
    height: 100%;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-right: 28px;
  align-items: center;
  list-style: none;
  font-weight: 400;
  font-size: 1.25rem;
  justify-content: space-around;
}
@media (max-width: 900px) {
  ul {
    flex-direction: column;
    align-items: center;
    line-height: 16px;
    margin-top: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  ul {
    font-size: 0.87rem;
  }
}
@media (max-width: 1200px) and (orientation: landscape) {
  ul {
    line-height: 16px;
    font-size: 0.87rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

section.conteudo_principal {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 40px;
}
@media (max-width: 900px) {
  section.conteudo_principal {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
section.conteudo_principal img {
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 900px) {
  section.conteudo_principal img {
    width: 80%;
    margin-top: 10px;
  }
}
@media (max-width: 1200px) and (orientation: landscape) {
  section.conteudo_principal img {
    width: 60%;
    margin-top: 20px;
  }
}

.conteudo_principal--texto {
  width: 50%;
}
@media (max-width: 900px) {
  .conteudo_principal--texto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
.conteudo_principal--texto h1 {
  font-size: 2.25rem;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .conteudo_principal--texto h1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
  }
}
.conteudo_principal--texto p {
  text-align: center;
  font-size: 1.25rem;
  padding: 10px;
  margin-top: 20px;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 900px) {
  .conteudo_principal--texto p {
    font-size: 1.25rem;
    line-height: 26px;
    width: 80%;
    text-align: center;
  }
}

.produtos_favoritos {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 40px 0;
}
@media (max-width: 900px) {
  .produtos_favoritos {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.produtos_favoritos h2 {
  font-size: 1.75rem;
  font-weight: 400;
  width: 38%;
  align-items: center;
  display: flex;
}
@media (max-width: 900px) {
  .produtos_favoritos h2 {
    font-size: 1.25rem;
    font-weight: 500;
    width: 80%;
    text-align: center;
    justify-content: center;
  }
}

.imagens_produtos--favoritos {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 900px) {
  .imagens_produtos--favoritos {
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    margin: 40px 0;
  }
}
@media (max-width: 900px) {
  .imagens_produtos--favoritos figure {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 50%;
    height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) and (orientation: landscape) {
  .imagens_produtos--favoritos figure {
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */